<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-pengajuan">
                <div class="card-header">
                    <h4 class="card-title">Total Pengajuan</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ total_pengajuan }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="status-diterima">
                <div class="card-header">
                    <h4 class="card-title">Status Diterima</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ status_diterima }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="status-pending">
                <div class="card-header">
                    <h4 class="card-title">Status Pending</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ status_pending }}</h2>
                </div>
            </div>
        </div>
    </div>

</div>