{% extends 'utama.html' %}
{% block konten %}
{% include 'counter.html' %}

<div class="row">
    <div class="col-md-9 mx-auto">
        <h5 style="color: #C37B89">DATA PENGAJU:</h5>
        <hr style="background-color: #cc526a; height: 2px">
        <div class="card card-body" style="background-color: #d69ca8">
            <a class="btn btn-light btn-outline-warning btn-sm btn-block" href="{% url 'create_pengaju' %}">Mengajukan Bantuan</a>
            <table class="table table-sm">
                <tr>
                    <th class="teks-table">Nama Pengaju</th>
                    <th class="teks-table">Tipe Pengajuan</th>
                    <th class="teks-table">Latar Belakang Pengajuan</th>
                    <th class="teks-table">Lokasi Pengaju</th>
                    <th class="teks-table">Status Pengajuan</th>
                    <th class="teks-table">Update</th>
                    <th class="teks-table">Remove</th>
                </tr>
                {% for i in dataajuan %}
                    <tr>
                        <th class="teks-table">{{i.nama}}</th>
                        <th class="teks-table">{{i.tipePengajuan}}</th>
                        <th class="teks-table">{{i.latar}}</th>
                        <th class="teks-table">{{i.lokasi}}</th>
                        <th class="teks-table">{{i.status}}</th>
                        <th><a class="btn btn-sm btn-light btn-outline-warning" href="{% url 'update_data' i.id %}">Update</a></th>
                        <th><a class="btn btn-sm btn-light btn-outline-danger" href="{% url 'delete_data' i.id %}">Remove</a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock konten %}