{% extends 'utama.html' %}
{% load static %}
{% block content %}


<head>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
    <div class="container-fluid">
      <a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="">HelPINK U</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../adm">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Permohonan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../saran/saran_admin">Kritik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../saran/form_saran_admin">Kritik dan Saran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>


<div class="cont">
    <h5 style="color: white; text-align: center;">Data Pengaju</h5>
    <hr style="color: white; height: 2px">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-sm btn-light btn-outline-warning" type="submit" name="Submit">
    </form>
</div>

{% endblock %}