{% extends 'utama.html' %}
{% block content %}
<head>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
    <div class="container-fluid">
      <a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="">HelPINK U</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../adm">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Permohonan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../saran/saran_admin">Kritik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../saran/form_saran_admin">Kritik dan Saran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>


<br>
<div class="row">
    <div class="col-md">
        <div class="card-body">
            <h5>Status</h5>
        </div>

        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Nama Pengaju</th>
                    <th>Tipe Pengajuan</th>
                    <th>Latar Belakang Pengajuan</th>
                    <th>Lokasi Pengaju</th>
                    <th>Status Pengajuan</th>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}