{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
<!-- FORMULIR DONASI -->
<div class="container-fluid">
    
    <div style="height: 100px;"></div>
        <h1 class="text-center judulDonasiBerhasil ">Donasi Berhasil!</h1>
        <div class="center">
            <a href="../formulir_donasi/" class="btn rounded-pill btn-kembali center" style="">Kembali ke halaman donasi</a>
        </div>
    
</div>

<div style="height: 150px;"></div>


<!-- {% endblock %} -->
