{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">

<style>

    *{
        box-sizing: border-box;
      }

  body{
      background-color: #fff5f3;
      font-family: 'Muli', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
  }

  input .input{
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      transition: .5s;
  }

  .box{
      background-color: whitesmoke;
      border-radius: 20px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.05),
      0 6px 6px rgba(0,0, 0, 0.1);
      padding: 40px 60px;
      position: relative;
  }

  .box::before{
      background-color: lightpink;
      border-radius: 30px;
      content: '';
      position: absolute;
      bottom: -30px;
      right: -30px;
      height: 380px;
      width: 660px;
      z-index: -1;
  }

  .option{
      background-color: pink;
      border-radius: 15px;
      padding: 10px 15px;
  }

     .option-details .option-title{
        font-size: 18px;

    }

    .option-details .category{
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 14px 0;
    }

    .option-details .category label{
        display: flex;
        align-items: center;
    }

    .option-details .category .dot{
        height: 6px;
        width: 6px;
        background:rgb(218, 143, 155);
        border-radius: 50%;
        margin-right: 10px;
        border: 5px solid transparent;
        transition: all 0.3s ease;
    }

    #dot-1:checked ~ .category .one,
    #dot-2:checked ~ .category .two,
    #dot-3:checked ~ .category .three{
        border-width: thick;
        border-style: double;
        border-color:rgb(0, 0, 0);
        background: #9b59b6;
    }

    input[type="radio"]{
        display: none;
    }

    .button{
        height: 45px;
        margin: 45px 0;
        color: pink;
        background-color: pink;
        border-radius: 100px;
    }

    .button input{
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: pink;
        border-radius: 15px;
    }

    .input-box .details{
        font-weight: 500;
        margin-bottom:5px ;
    }

    .input-box input{
        height: 30px;
        width: 40%;
        border-radius: 10px;
        border-color: pink;

    }
</style>


<!-- <div class="container-fluid">
    
    <div class="row content">
        <h4 class="judulProgramFormulir">{{ nama_program }}</h4> -->
        <!-- FORMULIR DONASI -->

        <div class="col-md-6 order-2 order-md-1">
            <form method="POST" action="{% url 'dana:donasi_berhasil' %}" class="" style="">
                {% csrf_token %}
                <div class="box">
                    <h2>Donasi</h2>
                    <p>
                        Donasi ini akan diberikan kepada penyintas Covid-19 di Fasilkom<br/>
                    </p>
                    <form action="#">
              
                        <div class="input-box">
                            <label for="bank" class="details">Nama Bank</label><br>
                            <input type="text" class="input" id="bank" name="bank" placeholder="Masukkan nama bank"><br>
                            <label for="norekening" class="details">Nomor Rekening</label><br>
                            <input type="number" class="input" id="norekening" name="norekening" placeholder="Masukkan nomor rekening"><br>
                            <label for="jmldonasi" class="details">Jumlah Donasi</label><br>
                            <span class="details">Rp</span>
                            <input type="number" class="input" id="jmldonasi" name="jmldonasi" placeholder="Masukkan nominal"><br>
                            <div class="option-details">
                                <input type="radio" name="option" id="dot-1">
                                <input type="radio" name="option" id="dot-2">
                                <input type="radio" name="option" id="dot-3">
                                <span class="option-title"><br/>Bank Tujuan</span>
                                <div class="category">
                                    <label for="dot-1">
                                        <span class="dot one"></span>
                                        <span class="option">BNI (123819023013429)</span>
                              </label>
                              <label for="dot-2">
                                  <span class="dot two"></span>
                                  <span class="option">Mandiri (4281093480142)</span>
                              </label>
                              <label for="dot-3">
                                  <span class="dot three"></span>
                                  <span class="option">BCA (093249382410)</span>
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="button">
                      <input type="submit" value="Kirim">
                  </div>
              <!-- </form>
              </div>
                {{ form.as_p }}
                <div>
                    <input class=" btn-donasi rounded-pill" type="submit" value="DONASI">
                </div>
            </form> -->
        </div>

    </div>
</div>

<!-- {% endblock %} -->
