<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    
    
</head>  
<body>  
<form method="POST" class="post-form" action="../edit_profil/">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nama:</label>  
    <div class="col-sm-4">  
        <input type="text" name="name" id="id_name" required maxlength="20" value="{{ profil.name }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Email:</label>  
    <div class="col-sm-4">  
        <input type="text" name="email" id="id_email" required maxlength="100" value="{{ profil.email }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Role:</label>  
    <div class="col-sm-4">  
        <input type="" name="role" id="id_role" required maxlength="254" value="{{ profil.role }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Gender:</label>  
    <div class="col-sm-4">  
        <input type="" name="gender" id="id_gender" required maxlength="15" value="{{ profil.gender }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">No.Telp:</label>  
    <div class="col-sm-4">  
        <input type="text" name="phone" id="id_phone" required maxlength="20" value="{{ profil.phone }}"/>  
    </div>  
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">TTL:</label>  
    <div class="col-sm-4">  
        <input type="text" name="birthday" id="id_birthday" required maxlength="20" value="{{ profil.birthday }}"/>  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Alamat:</label>  
    <div class="col-sm-4">  
        <input type="text" name="address" id="id_address" required maxlength="20" value="{{ profil.address }}"/>  
    </div>  
  </div>     
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>
<a href="../profil"><span class="glyphicon glyphicon-pencil" >Back</span>  
</body>  
</html>


 