<div class="main">
     
    <!-- Specify fields to be displayed -->
    <a href="{% url 'create_profil' %}" class="btn btn-primary">Add New Record</a>
    {% for profil in profil %}
    Nama:{{ profil.name }}<br/>
    Email:{{ profil.email }}<br/>
    Role:{{ profil.role }}<br/>
    Gender:{{ profil.gender }}<br/>
    No.Telp:{{ profil.phone }}<br/>
    TTL:{{ profil.birthday }}<br/>
    Alamat:{{ profil.address }}<br/>
    <a class="btn btn-sm btn-light btn-outline-warning" href="{% url 'edit_profil' profil.pk %}">Update</a>
        
    {% endfor %}
</div>