{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'static/img/css/form.css' %}"/>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
<style>
  body,
  nav{
    border-bottom-style: solid;
    border-color:#C37B89;
  }
  

  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: medium
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
    <div class="container-fluid">
      <a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="../../donatur">HelPINK U</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="text-align: left;">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../donatur">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Donasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Saran dan Kontak</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="container mt-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="img-circle" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">{{ profile.user.username}}</span>
                    <span class="text-black-50">{{ profile.user.name }}</span>
                    <span class="text-black-50">{{ profile.user.email }}</span>
                </div>
                <div class="mt-4 text-center"><button class="btn btn-primary profile-button" type="button">Ganti Foto</button></div>
            </div>
            
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profil</h4>
                    </div>
            
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Nama</label>
                            <input type="text" class="form-control" placeholder="Masukkan nama lengkap Anda" required>
                        </div>
                        
                        <div class="col-md-12">
                            <label class="labels">Tanggal Lahir</label>
                            <input type="text" data-datepicker="" class="form-control" placeholder="DD/MM/YY" required>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Jenis Kelamin</label>
                            <select name="gender" class="form-select mb-0" id="gender"
                                        aria-label="Gender select example">
                                    <option selected>Gender</option>
                                    {% for key, value in profile.gender_choices %}
                                        <option value="{{ key }}"
                                                
                                        {% if profile.gender == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-12">
                            <label class="labels">Role</label>
                            <select name="role" class="form-select mb-0" id="role"
                                        aria-label="Role select example">
                                    <option selected>Role</option>
                                    {% for key, value in profile.role_choices %}
                                        <option value="{{ key }}"
                                                {% if profile.role == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input type="text" class="form-control" placeholder="enter address line 2" required>
                        </div>
                        
                        <div class="col-md-12">
                            <label class="labels">Nomor Telepon</label>
                            <input type="text" class="form-control" placeholder="enter email id" required>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Alamat</label>
                            <input type="text" class="form-control" placeholder="education" required>
                        </div>
                    </div>
                    
                    <div class="mt-4 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    </div>
</div>
</form>

  
{% endblock content %}
  