{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #F3F4ED;
      overflow-y: auto;
      
		}
  </style>
  
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <div class="container" style="position: relative; min-width: 100%;">
  {% block content %}
  {% endblock content %}

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
      <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright HelPINK U
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
</body>



</html>
