{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">

<style>
  body,
  nav{
    border-bottom-style: solid;
    border-color:#C37B89;
  }

  body{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  }

  .form {
    position:relative;
    margin: 0 0 2em;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #DFDFDF;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 200px 24px 50px;
  }

  .textForm{
    padding: 24px 40px 16px 16px;
    font-family: 'Comfortaa';
    color: #C37B89;
    font-size: medium;
    text-align: center;
  }

</style>
<title>SARAN</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
  <div class="container-fluid">
    <a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="../../donatur">HelPINK U</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="text-align: left;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../../donatur">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="dana/formulir_donasi">Donasi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../saran/form_saran_pengaju">Kritik dan Saran</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="textForm"><h1>Kritik dan Saran</h1></div>

<div class="form">
  <form method="POST" id="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
  const form = document.getElementById('form');
  form.addEventListener("submit", forSubmit);

  function forSubmit(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'form_saran_donatur' %}",
      data: $("#form").serialize(),
      dataType: 'json',
      success: function (data){
        if(data.msg === 'Success'){
          form.reset();
          alert('Terima kasih, kritik dan saranmu sudah kami terima');
        }
      }

    })

  }
</script>

{% endblock content %}