{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">

<style>
  body,
  nav{
    border-bottom-style: solid;
    border-color:#C37B89;
  }

  html, body{
    width: 100%;
  }

  body{
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-size: 1rem;
  }
  /*grid*/
  .cntner{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 62.5%;
    display : flex;
    flex-wrap : wrap;
    
  }

  /*@media (min-width: 640px) {
    .cntner{
        width: 90%;
    }
  }*/

  .card {
    position: relative;
    margin: 0 0 2em;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #DFDFDF;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    width: 300px;
    
  }

  .card:hover {
    box-shadow: 0 6px 20px #AFAFAF;
  }

  .card .rolenya{
    position: relative;
  }
  

  .card .peran {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.3;
    font-weight: 400;
    margin: 0;
    color: #C37B89;
  }

  .rolenya .peran{
    padding: 24px 40px 16px 16px;
  }

  .keluhannya .keluh, .rate .reviu, .msg .psn{
    padding: 0px 0px 0px 16px;
  }

  .text {
    padding: 24px 40px 16px 16px;
    font-family: 'Comfortaa';
    color: #C37B89;
    font-size: medium;
    text-align: center;
  }



</style>
<title>SARAN</title>
{% endblock meta %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
    <div class="container-fluid">
      <a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="../../adm">HelPINK U</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../adm">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Permohonan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../saran_admin">Kritik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../form_saran_admin">Kritik dan Saran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="text"><h1>Kritik dan Saran</h1></div>
  
  <div class="cntner">
    {% if saran2 %} 
      {% for saran in saran2 %}
        <div class = "col s12 m4">
          <div class="card">

            <div class="rolenya">
              <h1 class="peran">{{ saran.role }}</h1>
            </div>

            <div class="keluhannya">
              <h3 class="keluh" style="font-size: medium;">Keluhan : {{ saran.keluhan }}</h3>
            </div>

            <div class="rate">
              <h3 class="reviu" style="font-size: medium;">Rating pengguna : {{ saran.rating }}/5</h3>
            </div>

            <div class="msg">
              <p class="psn" style="font-size: medium;">"{{ saran.pesan }}"</p>
            </div>
            
          </div>
        </div>        
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}