<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">

	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #F3F4ED;
			font-family: 'Work Sans';
      		
		}
		
		nav{
			border-bottom-style: solid;
			border-color:#C37B89;
			font-family: 'Work Sans', sans-serif;
			font-weight: normal;
			font-size: 13px;
			font-size: 1rem;
		}
		ul{
			color: white;
			font-size:small;
		}
		p{
			
			color: white;
			font-size: small;

		}
		h6{
			color: white;
			
			font-weight: bold;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #C37B89;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px ;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
			

		}
		label{
			font-family: 'Work Sans';
			background-color: #f7ba5b;
		}
		.text {
			padding: 20px 40px 16px 16px;
		}

		.form_container {
			margin-top: 20px;
		}
		.btn-group {
  			
 			width: 100%;
  			justify-content: center;
  			align-items: center;
  			background-color: #f7ba5b;
		}
		#form-title{
			color: #fff;
			
		}
			
		.login_btn {
			background-color: white; 
			color:#f7ba5b; 
			border: 2px solid #f7ba5b;
			font-weight: bold;
			border-radius: 8px;
			text-align: center;
			transition-duration: 0.4s;
			cursor: pointer;
		}
		.login_btn:hover {
			background-color: #f7ba5b;
        	color: white;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
			height: 100%;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.form-check {
			margin: .4rem !important;
		}
		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px; 
			margin-top: 10px; 
		}
		.warn {
			color: white;
			font-weight: bold;
			border: 5px solid maroon;
			background-color: maroon;
		}
		.hidden {
			display: none;
		}
		
	</style>

</head>
<body>
	<div class="cont" style="position: relative; min-width: 100%";>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
				  <div class="container-fluid">
					<a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="../">HelPINK U</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						  <ul class="navbar-nav ms-auto">
							<li class="nav-item">
								  <a class="nav-link active" aria-current="page" href="../">Home</a>
							</li>
							
						  </ul>
					</div>
				  </div>
			</nav>
		</div>

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="text">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title" style="font-family: Comfortaa;">DAFTAR AKUN</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="" id="form">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" id="username">
						</div>
						<p>Username hanya dapat terdiri dari huruf, angka, dan @/./+/-/_ saja</p>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							<input type="text" name="email" id ="email">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password1" id="password">
						</div>
						<ul>
							<li> Password harus mengandung setidaknya 8 karakter </li>
							<li> Password tidak boleh mirip dengan data yang lain</li>
							<li> Password tidak boleh yang sering digunakan</li>
							<li> Password tidak boleh seluruhnya angka</li>
						</ul>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password2" id="passwordagain">
						</div>
						<h6 id="verifynote" class="warn hidden">Password tidak sesuai</h6>
						<h6> Pilih Role : </h6>
						<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
							<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value='pemberi'checked>
							<label class="btn btn-outline-primary" for="btnradio1" style="color: white; border-color:#f7ba5b ; font-weight: bold; ">pemberi</label>
						  
							<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value='penerima'>
							<label class="btn btn-outline-primary" for="btnradio2" style="color: white; border-color:#f7ba5b; font-weight: bold; ;">penerima</label>
						  </div>
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Daftar">
				   		</div>
					</form>
				</div>
                {%for message in messages %}
                    <p id ="messages"> {{message}}</p>
                {% endfor %}
				<div class="mt-4">
					<div class="d-flex justify-content-center links" style="color: #F3F4ED;  font-weight: bold;">
						Sudah punya akun? <a href="../login" class="ml-2" style="color: #f7ba5b;"> Masuk</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<script>
			/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
	//We start indexing at one because CSRF_token is considered and input field 
	*/

	//Query All input fields
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Username..';
	form_fields[2].placeholder='Email..';
	form_fields[3].placeholder='Enter password...';
	form_fields[4].placeholder='Re-enter Password...';


	for (var field in form_fields){	
	form_fields[field].className += ' form-control'
	}
	</script>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
		<!-- Copyright -->
	  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright HelPINK U
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('#passwordagain').keyup(function() {
		if($(this).val()==$('#password').val()) {
			$('#verifynote').addClass('hidden');
		} else {
			$('#verifynote').removeClass('hidden');
		}
	});
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
const form = document.getElementById('form');
form.addEventListener("submit", forSubmit);

function forSubmit(e){
	e.preventDefault();
	$.ajax({
	type: 'POST',
	url: "{% url 'index' %}",
	data: $("#form").serialize(),
	dataType: 'json',
		success: function (data){
			if(data.msg === 'Success'){
				window.location.href = '/login'
				alert('Sukses mendaftar');
			}
			else{
				window.location.href = '/daftar'
				alert('Gagal mendaftar');
			}
		}
	})
}
</script>
</html>

