{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'static/img/css/form.css' %}"/>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
<style>
  body,
  nav{
    border-bottom-style: solid;
    border-color:#C37B89;
  }

  html, body{
    width: 100%;
  }

  body{
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-size: 1rem;
  }

  #total-pengajuan{
    background-color: #d69ca8;
  }

  #status-diterima{
    background-color: #e6ebcc;
  }

  #status-pending{
    background-color: #d69ca8;
  }

  .teks-table{
    color: white;
    text-align: center;
  }

  .cont{
    width: 25%;
	margin: auto;
	margin-top: 200px;
	background: #d69ca8;
	padding: 10px ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
  }

  form {
    text-align: center;
    color: white;
  }


</style>
<title>Home</title>
{% endblock meta %}



{% block content %}
<head>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
    <div class="container-fluid">
      <a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="../../pengaju">HelPINK U</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="text-align: left;">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../pengaju">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=../saran/form_saran_pengaju">Kritik dan Saran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../pengajuan">Pengajuan</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>

{% block konten %}
{% endblock konten %}

{% endblock content %}

