{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'static/img/css/form.css' %}"/>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
<style>
  body,
  nav{
    border-bottom-style: solid;
    border-color:#C37B89;
  }

  html, body{
    width: 100%;
  }

  body{
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-size: 1rem;
  }

   #total-pengajuan{
    background-color: #d69ca8;
  }

</style>
<title>Home</title>
{% endblock meta %}

{% block content %}
<style>
  #hello-msg{
    font-size: 18 px;
    color: #C37B89;
    margin-right: 20px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F4ED;">
    <div class="container-fluid">
      <a class="navbar-brand" style=  "color: #C37B89; font-family: Comfortaa;"  href="">HelPINK U</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Permohonan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../saran/saran_admin">Kritik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../saran/form_saran_admin">Kritik dan Saran</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../profile/profile_page">Hello, {{request.user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Keluar</a>
          </li>
            {% else %}
              <label for=""></label>
              {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/img/opening.png" class="d-block img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../static/img/5M.png" class="d-block img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../static/img/to-do.png" class="d-block img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../static/img/helping.png" class="d-block img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col">
        <div class="col-md-4 mx-auto">
            <div class="card text-center text-white mb-3" id="total-pengajuan">
                <div class="card-header">
                    <h4 class="card-title">Total Pengajuan</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ total_pengajuan }}</h2>
                </div>
            </div>
        </div>
    </div>
  </div>


{% endblock content %}
